extends ./layout.pug

block title
  title Highlighter
block otherScript
  script(src="http://johannburkard.de/resources/Johann/jquery.highlight-5.js")

block main
  div(id="search-container" class="main-containers")
    div(class="search-control")
      div(id="search-result")
        div(class="status")
          span(id="match-num-found") 0 
          span  matches found in 
          span(id="etherpad-num-found")  
          span  Etherpads
        div(class="help-text") Tap a filter below, then browse the results on the right.
        a(id="reset") RESET
      div(id="search")
        ul
          each issue in issues
            li(class="issue")
              a(class="name" title=issue.keyphrases.join(", ") data-issue=issue.name data-keyphrases=issue.keyphrases.join(","))= issue.name
              div(class="matches")

  div(id="etherpads-container" class="main-containers")
    div(id="etherpad-result")
      div(class="scanner-mask")
      ul
        each etherpad in etherpads
          li(class="etherpad")
            h3 SOURCE:
              a(href=etherpad.originalUrl target="_blank")= etherpad.slug
            div(class="content")!= etherpad.content.replace(/(\r\n|\n|\r)/gm,"<br/>")

block bodyEndScripts
  script(src="js/home-footer.js")

